
* {
    user-select: none;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

body {
    background: radial-gradient(circle, #33a3ff, #d3d3d3);
    display: flex;
    flex-direction: column;
}

body.openboard {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px solid #000000;
    background: #ffffff;
}

#haut {
    height: 80px;
    background-color: rgba(255,255,255,0.5);
    border-bottom: 3px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

body.openboard>#haut {
    border-bottom: 3px solid #000000;
}



#educajou {
    height: 75px;
    width: 100px;
    padding-left: 10px;
}



#outils {
    flex: 1;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}

#panneau {
    position: absolute;
    width: 250px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 3px 0px 3px 3px;
    border-radius: 15px 0px 0px 15px;
    height: calc(100% - 125px);
    right: -273px;
    top: 90px;
    background-color: #4674f3;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: right 0.2s ease;
    padding: 10px;
    box-shadow: 0px 0px 10px inset #525252;
    overflow-y: scroll;
    text-align: center;
}

#bouton-panneau {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url(images/menu.svg);
    background-size: 100%;
    background-position: center;
}

.zone-option {
    position: relative;
    text-align: center;
    border: 2px #fff solid;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    margin: 10px;    
}

.zone-option h1 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;

}

.zone-option p {
    text-align: left;
    margin-left: 10px;
}

.zone-option p label {
    margin-left: 5px;
}

.element-outils {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    margin: 5px;
}

#input-nombre {
    width: 4em;
    font-weight: bold;
    text-align: center;
}

#liste-deroulante {
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#ok {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin: 5px;
}

.bouton-plusmoins {
    width: 30px;
    height: 30px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;    
}

.bouton-plusmoins:first-of-type {
    margin-bottom: 5px;
}

.bouton-plusmoins.actif {
    background-color: yellow;
}

#conteneur {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Modifier align-content en align-items */
}

.bouton-cote {
    width: 40px;
    height: 40px;
    border: 0;
    padding: 0;
    outline: 0;
    color: #ffffff;
    display: block;
    background-size: 100%;    
    background-repeat: no-repeat;
    background-image: url(images/colonnes.svg);
    background-color: transparent;
    margin: 5px;
}

.ajoute {
    background-position: top;
}

.supprime {
    background-position: bottom;
}

.droite {
    transform: scaleX(-1);
}


.colonne {
    display: inline-block;
    height: fit-content;
    text-align: center;
    width: var(--largeur-colonne); /* Utilise la variable --largeur comme largeur */
    font-size: calc(var(--taille-police-case) / 8);
    max-width: 20%;
    border:  none;
    transform: translateY(calc(var(--taille-police-case) / 8));
}

.case-nombre {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: calc(100% - 6px);
    font-size: var(--taille-police-case);
    height: var(--taille-police-case);
    line-height: var(--taille-police-case);
    margin: 4% auto 4% auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;   
    transition: color 0.2s ease;
    cursor: url(images/mask.png), auto;
}

.case-nombre.unitesdunites {
    color: yellow;
}

.case-nombre.invisible {
    color: transparent;
}

.case-titre {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: calc(100% - 6px);
    font-size: calc(var(--taille-police-case) / 8);
    margin: 4% auto 4% auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;    
}

.exposant {
    font-size: 0.6em;
    vertical-align: top;
}

.groupe {
    position: absolute;
    bottom : 120%;
    right : 0px;
    background-color: inherit;
    border-radius: inherit;
    font-size: 1.3em;
}

.unites .groupe {display: none;}

.colonne-etendue {
    position: relative;
    top: 0%;
    transition: top 0.2s linear;
}

.milliers {
    background-color: #087728;
}

.millions {
    background-color: #1008a0;
}

.milliards {
    background-color: #ac1ba9;
}

.decimale .case-nombre, .decimale .case-titre {
    background-color: #900000;
}

.case-nombre.premieredecimale::before {
    content: ',';
    text-align: center;
    position: absolute;
    top: 5%;
    left: -75%;
    width: 100%;
    color: #ffffff;
    text-shadow: 3px 5px 2px #000000;
    pointer-events: none;
}


.bouton-compteur {
    width: calc(100% - 6px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: calc(var(--taille-police-case) / 1.5);
    height: 0.3em;
    min-height: 10px;
    max-height: 40px;
    margin: auto;
    background-image: url(images/fleche.svg);
    background-position: center;
    background-size: 80% 80%;
    background-repeat: no-repeat;
}

.bouton-compteur.bas {
    transform: scaleY(-1);
}

#reglages {
    margin: auto;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    border: 3px solid #000000;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #ffffff;    
}

.reglage * {
    display: block;
    text-align: center;
}

#reglages button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 40px;
    margin-right: 10px;   
}

#reglages input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 80px;
    height: 40px;
    margin-right: 10px;
    text-align: center; 
}


@media screen and (max-height: 480px) {
    #educajou {
        height: 75px;
        width: 75px;
        padding-left: 0px;
        padding-top: 10px;
    }
}


#bouton-apropos {
     
     padding: 10px; /* marge intérieure de 10px, utile en cas de bouton à texte uniquement */
   
  
    /* Coins arrondis  */
     border-radius: 10px;


   }
   
   #darkbox {
   /* Elle doit prendre toute la largeur et toute la hauteyr  */
     position: fixed;
     z-index: 999; /* O la place sous la lightbox */
     width: 100%;
     height: 100%;
     top: 0px;
     left: 0px;
     background-color: rgba(0,0,0,0.5);
   }
   
   .lightbox {
     position: fixed;
     z-index: 1000; /* O la place sur la lightbox */
     display: flex;
     flex-direction: column;
     width: 60%;
     height: 60%;
     top: 50%;
     left: 50%;
     padding: 10px; /* Marge intérieure */
     border-radius: 20px; /* Coins arrondis */
     box-shadow: 0px 0px 15px #ffffff; /* Ombre transparente blanche */
     border: 2px solid #000000; /* Bordure de 2px noire */
     transform: translateX(-50%) translateY(-50%); /* Pour centrer dans la page */
     background-color: #ffffff; /* Couleur de fond */
   
   }
   
   .lightbox h1 { /* Le titre */
     font-family: Arial, Helvetica, sans-serif;
     font-size: 36px;
     min-height: 36px;
     margin: 10px;
     text-align: center;
   }
   
   .contenu-lightbox {
     flex: 1;
     font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
     overflow-y: auto;
     text-align: left;
     width: fit-content;
     margin: auto;
   }
   
   .bouton-fermer {
     position : fixed;
     top: 10px;
     right: 10px;
     width: 30px;
     height: 30px;
     background-image: url(images/bouton_fermer.svg);
     background-size: contain;
     background-color: transparent;
     border: none;
     outline: none;
   }
   
   
.hide {
    display: none !important; /* Les objets de classe hide sont masqués */
}
  
.hidden {
    display: none;
}


@media screen and (max-height: 500px) {

    body {
        flex-direction: row;
    }

    #haut {
        height: 100%;
        width: 80px;
        border-right: 3px solid white;
        border-bottom: none;
        flex-direction: column;
        justify-content: center; 
    }

    #educajou {
        float: none;
    }

    #outils {
        flex-direction: column;
        align-items: center;
    }

    #outils input, #outils button, #outils select {
        max-width: 70px;
    }

    .bouton-plusmoins {
        display: inline-block;
        max-width: none !important;
    }

    #bouton-panneau {    
        margin-right: 0px;
        margin-bottom: 10px;
    }

    #conteneur {

    }
  }